@font-face {
    font-family: 'FGBook';
    src: url('../assets/fonts/FranklinGothic/franklin-gothic-book.ttf') format('truetype'),
         url('../assets/fonts/FranklinGothic/franklin-gothic-book.woff') format('woff'),
         url('../assets/fonts/FranklinGothic/franklin-gothic-book.woff2') format('woff2');
}
@font-face {
    font-family: 'FGDemiCond';
    src: url('../assets/fonts/FranklinGothic/franklin-gothic-demi-cond.ttf') format('truetype'),
         url('../assets/fonts/FranklinGothic/franklin-gothic-demi-cond.woff') format('woff'),
         url('../assets/fonts/FranklinGothic/franklin-gothic-demi-cond.woff2') format('woff2');
}